<template>
    <div>
         Calculated: <input type="text" v-model="calculated" />
         <br>
        <input type="text" v-model="one" />
        <input type="text" v-model="two" />
        <input type="text" v-model="three" />
        
      
    </div>
</template>

<script>
export default {
  name: 'contact',
  data(){
      return{
          one: 0,
          two: 0,
          three:0,
          calculated:0
      }
  },
  methods:{
      calculatedMethod(newval, oldval){
            this.calculated = (this.calculated) ? this.calculated : 1;
            this.calculated = oldval ? (this.calculated / oldval) : this.calculated;
            this.calculated = this.calculated * newval;
      }
  },
  created(){

  },
  mounted(){

  },
  computed:{

  },
  watch:{
      one(newval, oldval){
        this.calculatedMethod(newval, oldval);
      },
      two(newval, oldval){
        this.calculatedMethod(newval, oldval);
      },
      three(newval, oldval){
        this.calculatedMethod(newval, oldval);
      },
      
  }
}
</script>

<style scoped>

</style>