<template>
  <div class="home">
    <p v-if="msg" class="alert alert-success">{{msg}}</p>
    <Users v-on:myevent="saveuser">This is user component from Home</Users>
  </div>
</template>

<script>
// @ is an alias to /src
import Users from "@/components/Users.vue";

export default {
  name: "home",
  components: {
    Users
  },
  data() {
    return {
      msg: ""
    };
  },
  methods: {
    saveuser(val) {
      if (val != "save") {
        this.msg = "User has been removed successfully!";
      } else {
        this.msg = "User Saved successfully!";
      }
      setTimeout(() => {
        this.msg = "";
      }, 3000);
    }
  }
};
</script>
