<template>
  <div class="container">
    <p class="lead">Users</p>
    <p v-if="error" class="alert alert-danger">{{error}}</p>
    <div class="form-group row">
      <label for="name" class="col-sm-1 col-form-label">Name:</label>
      <div class="col-sm-3">
        <input class="form-control" type="text" v-model="name" />
      </div>
      <label for="name" class="col-sm-1 col-form-label">Age:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" v-model="age" />
      </div>
      <div v-if="edit" class="col-sm-4 row">
        <label for="name" class="col-sm-6 col-form-label float-left">Profile Completed:</label>
        <div class="col-sm-1">
          <input class="form-control-check" type="checkbox" v-model="completed" />
        </div>
        <button class="col-sm-2 btn btn-info ml-2" @click="updateUser()">
          <strong>&#10003;</strong>
        </button>
        <button class="col-sm-2 btn btn-cancel border ml-2" @click="cancel()">
          <strong>X</strong>
        </button>
      </div>
      <button v-else class="col-sm-2 mb-2 btn btn-primary" @click="saveUser()">Save</button>
    </div>
    <hr />
    <div v-if="userData">
      <ul class="row border border-dark bg-success text-light">
        <li class="col-sm-3 text-left border-right border-dark">Name</li>
        <li class="col-sm-3 text-left border-right border-dark">Age</li>
        <li class="col-sm-3 text-left border-right border-dark">Profile Completed</li>
        <li class="col-sm-2 text-left">Actions</li>
      </ul>
      <ul class="row border" v-for="user in userData" :key="user._id">
        <li class="col-sm-3 text-left">{{user.name}}</li>
        <li class="col-sm-3 text-left">{{user.age}}</li>
        <li class="col-sm-3 text-left">{{user.completed}}</li>
        <li class="col-sm-2 text-left">
          <a @click="editUser(user)" class="btn btn-info text-light float-left">Edit</a>
          <a @click="deleteUser(user._id)" class="btn btn-danger text-light float-right">Delete</a>
        </li>
      </ul>
    </div>
    <hr />
  </div>
</template>

<script>
import users from "@/services/users.js";

export default {
  name: "users",
  data() {
    return {
      userData: "",
      error: "",
      name: "",
      age: "",
      edit: "",
      completed: "",
      id: ""
    };
  },
  methods: {
    async saveUser() {
      const user = { name: this.name, age: this.age, completed: false };
      const data = await users.setUser(user);
      if (data.error) {
        this.error = data.error.msg;
      } else {
        this.userData = data;
        this.$emit("myevent", "save");
        this.cancel();
      }
    },
    async deleteUser(_id) {
      const userId = { _id };
      const data = await users.deleteUser(userId);
      if (data.error) {
        this.error = data.error.msg;
      } else {
        this.userData = data;
        this.$emit("myevent", _id);
        this.cancel();
      }
    },
    editUser(data) {
      this.edit = true;
      this.name = data.name;
      this.age = data.age;
      this.id = data._id;
      this.completed = data.completed;
    },
    cancel() {
      this.edit = "";
      this.name = "";
      this.age = "";
      this.id = "";
      this.completed = "";
    },
    async updateUser() {
      const user = {
        name: this.name,
        age: this.age,
        completed: this.completed
      };
      const data = await users.updateUser(this.id, user);
      data.error ? (this.error = data.error.msg) : (this.userData = data);
      this.cancel();
    }
  },
  async created() {
    this.error = "";
    const data = await users.getUsers();
    data.error ? (this.error = data.error.msg) : (this.userData = data);
    this.cancel();
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>